<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IIT Dharwad Student Portal</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/home.css">
</head>
<body>
    <header>
        <div>
            <a href="/">
                <img src="/img/logo.png" alt="IIT Dharwad Logo">
            </a>
            <a href="/" style="text-decoration: none; color: white;">
                <h1>IIT Dharwad Student Portal</h1>
            </a>
        </div>
        <div>
            <a href="/admin" style="text-decoration: none; color: white;">
                <h3>&#9881; Admin</h3>
            </a>
        </div>
    </header>
    <div class="container">
        <div class="card">
            <a href="/lostandfound">
                <img src="/img/detective.png" alt="Lost and Found">
            </a>
            <p>Report lost items or check if they've been found.
                Quickly find your missing belongings with our easy reporting system.
                Join the Lost & Found revolution now and never lose track again! #DiscoverWithUs
            </p>
            <a href="/lostandfound"><button>Lost and Found</button></a>
        </div>
        <div class="card">
            <a href="/forums">
                <img src="/img/discussion.png" alt="Discussion Forum">
            </a>
            <p>Engage, Connect, Discuss! 
                Introducing our Student Discussion Forum - your space for vibrant conversations and shared insights! 
                Join, Share, Learn.
                Fuel your curiosity, join the conversation! #StudentTalks
            </p>
            <a href="/forums"><button>Discussion Forums</button></a>
        </div>
        <div class="card">
            <a href="/events">
                <img src="/img/calender.png" alt="Events Calendar">
            </a>
            <p>Never Miss a Moment!
                Introducing our Event Calendar app - your key to seamless planning and unforgettable experiences! 
                Easy, Efficient, Essential.
                Don't just mark dates, make memories! #EventCalendarPro
            </p>
            <a href="/events"><button>Events Calendar</button></a>
        </div>
        <div class="card">
            <a href="/quicklinks">
                <img src="/img/link.png" alt="Quick Links">
            </a>
            <p>Navigate Faster, Connect Quicker!
                Welcome to IIT Dharwad's QuickLinks - your shortcut to campus essentials! 
                📲 Swift, Simple, Smart.
                Access everything in a snap!  #QuickLinksMagic
            </p>
            <a href="/quicklinks"><button>Quick Links</button></a>
        </div>
    </div>
</body>
</html>