<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IIT Dharwad Student Portal</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/lost_and_found.css">
</head>
<body>
    <a href="/" style="text-decoration:none;">
        <header>
            <div>
                <img src="/img/logo.png" alt="IIT Dharwad Logo">
                <h1>IIT Dharwad Student Portal</h1>
            </div>
        </header>
    </a>
    <div class="card-container">
        <div class="card">
            <h2>Lost an Item?</h2>
            <p>Ever experienced that sinking feeling when you realize something valuable is missing? Before the panic sets in, take a moment to breathe and follow a simple yet crucial step - check the lost items list. It's your first line of defense against the chaos of losing your belongings. But wait, there's more! If your item doesn't make a cameo on the list, don't despair. It's time to take matters into your own hands and report the loss. Your lost treasure deserves to be found, and the journey starts with a click or a call. Don't let your prized possession slip through the cracks - act now and let the search begin!</p>
            <a href="/lostform"><button>Report Lost Item</button></a><br><br>
            <a href="/founditems"><button>View Found Items</button></a>
        </div>

        <div class="card">
            <h2>Found an Item?</h2>
            <p>Discovering a lost item is like stumbling upon a hidden treasure, and now it's your turn to be the hero! Don't let the excitement fade away - take a moment to report your found item. Your act of kindness could reunite someone with their cherished belongings. Be the link between loss and rediscovery, and make a difference today. Reporting found items is not just a good deed; it's a chance to be the beacon of hope for someone desperately seeking what they thought was gone forever. Seize the opportunity to be a hero and play your part in this tale of lost and found.</p>
            <a href="/foundform"><button>Report Found Item</button></a><br><br>
            <a href="/lostitems"><button>View Missing List</button></a>
        </div>
    </div>
</body>
</html>