<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quick Links</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/quick_links.css">
</head>
<body>
<a href="/" style="text-decoration:none;">
    <header>
        <div>
            <img src="/img/logo.png" alt="IIT Dharwad Logo">
            <h1>IIT Dharwad Student Portal</h1>
        </div>
    </header>
</a>
<div class="card-container">
    <a href="https://www.iitdh.ac.in/" class="card">
        <img src="/img/main.png" alt="Main Website">
        <h2>Main Website</h2>
    </a>

    <a href="https://www.iitdh.ac.in/timetable-autumn-2024-25" class="card">
        <img src="/img/schedule.png" alt="Time Table">
        <h2>Time Table</h2>
    </a>

    <a href="https://www.iitdh.ac.in/curriculum" class="card">
        <img src="/img/curriculum.png" alt="Curriculum">
        <h2>Curriculum</h2>
    </a>

    <a href="https://cdc.iitdh.ac.in/" class="card">
        <img src="/img/mentor.png" alt="Student Mentors">
        <h2>Career Development Cell</h2>
    </a>

    <a href="https://www.iitdh.ac.in/faculty" class="card">
        <img src="/img/faculty.png" alt="Faculty">
        <h2>Faculty</h2>
    </a>

    <a href="https://www.iitdh.ac.in/holidays" class="card">
        <img src="/img/holiday.png" alt="Holidays">
        <h2>Holidays</h2>
    </a>
</div>
</body>
</html>