body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    background-image: url('/img/walmi.jpeg'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.header {
    background-color: #4a3c8c;
    color: #fff;
    padding: 10px;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
    animation: fadeInDown 1s ease-in-out;
}
@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
.header div {
    display: flex;
    align-items: center;
    justify-content: center;
}
.header img {
    height: 40px;
    width: auto;
    margin-right: 10px;
}
.card {
    background-color: #8a70c8; /* violet background color */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px;
    text-align: center;
}
button {
    padding: 10px 20px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}